<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    {% include "navbar.html" %}
    <div class="container-fluid">
        <div class="row">
            <!-- Main Content Section -->
            <div class="col-md-4">
                {% include "dashboardManager.html" %}
            </div>
            <!-- Sidebar Section -->
            <div class="col-md-8">
                    {% include "dashboardViewer.html" %}
                
            </div>
            
        </div>
    </div>
{%  include "footer.html" %}
</body>
</html>
