<footer class="bg-dark text-light py-4 h-20 mt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img class="img-thumbnail w-25 h-50 rounded-circle" src="{{url_for('static', filename='notebook.jpeg')}}"/>
                <p> “ገዛ” (geza) is an Amharic word that has several meanings related to ownership and control. 
                    It can mean to buy, purchase, own, possess, govern, rule, dominate, hire, command, reign, shop, or sway. </p>
            </div>
            <div class="col-md-6 text-md-right">
                <ul class="list-unstyled" type="circle">
                    <li><a href="#" class="text-light">Privacy Policy</a></li>
                    <li><a href="#" class="text-light">Terms of Use</a></li>
                    <li><a href="#" class="text-light">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
