<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ገዛ</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    {%  include "navbar.html" %}
    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right w-25" id="sidebar-wrapper">
            <div class="sidebar-heading">Stationery </div>
            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action bg-light">Overview</a>
                <!-- Other sidebar items -->
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content , id="page-content-wrapper"-->
        <div class="w-75">
            {%  with messages = get_flashed_messages(with_categories = true)%}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'error' %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% else %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-lg-6 border p-3">
                        <h1 class="mt-4 w-100 underline">File Extraction </h1>
                        <form class="w-100"  method="POST" action="/uploading" enctype="multipart/form-data">
                            <!-- Description -->
                            <div class="form-group">
                                <label for="startPage">Start Page</label>
                                <input type="number" class="form-control" id="startPage" name="startPage" required>
                            </div> 
                            <div class="form-group">
                                <label for="endPage">End Page</label>
                                <input type="number" class="form-control" id="endPage" name="endPage" required/>
                            </div> 
                            <div class="form-group">
                                <label for="upload">File Upload</label>
                                <input type="file" class="form-control" id="upload" name="upload" required/>
                            </div> 
                            <!-- Submit Button -->
                            <button type="submit" class="btn btn-primary">Extract</button>
                        </form> 
                        
                    </div>

                    <div class="col-md-6 col-lg-6 w-100 p-3">
                        {% if file_content %}
                        <h1> You uploaded the file successfully.</h1>
                        <p> You are going to extract the file from {{ startPage }} to  {{ endPage}}</p>
                        <form action="/extracting_downloading" method="GET">
                            <input class="btn btn-primary" type="submit" value="Extract and Download">
                        </form>
                        {% else %}
                        <div>
                            <p>File splitting </p>
                            <img class="w-100 h-100" src="{{url_for('static', filename='extract.jpg')}}" alt="extract"/>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <!--<p>This is a note about the importance of having a good set of stationery for effective learning and creativity.</p>-->
                <!-- More content -->
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>

    {% include "footer.html" %}

</body>
</html>


